# Data prepation with daily aggregation
The observation period is split into 32 periods and purchase history is aggregated by client and period and then flattened into a two-dimentional data set.

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Client data

In [3]:
clients = pd.read_csv('clients2.csv',
                     index_col='client_id',
                     parse_dates=['first_issue_date', 'first_redeem_date'],
                     na_values={'gender': 'U'})\
    .drop(columns='client_id.1')
clients

              first_issue_date   first_redeem_date  age gender
client_id
000012768d 2017-08-05 15:40:48 2018-01-04 19:30:07   45    NaN
000036f903 2017-04-10 13:54:23 2017-04-23 12:37:56   72      F
00010925a5 2018-07-24 16:21:29 2018-09-14 16:12:49   83    NaN
0001f552b0 2017-06-30 19:20:38 2018-08-28 12:59:45   33      F
00020e7b18 2017-11-27 11:41:45 2018-01-10 17:50:05   73    NaN
...                        ...                 ...  ...    ...
fffe0abb97 2017-11-27 08:56:54 2018-02-11 09:26:08   35      F
fffe0ed719 2017-09-15 08:53:24 2017-12-12 14:50:12   69    NaN
fffea1204c 2018-01-31 16:59:37 2018-03-12 17:02:27   73      F
fffeca6d22 2017-12-28 11:56:13                 NaT   77      F
fffff6ce77 2017-08-03 20:25:12 2017-08-26 16:41:41   42    NaN

[200039 rows x 4 columns]

# Age

There are negative values and values above 100 (as high as 1852).

Calculate mean age using clients within reasonable age range:

In [4]:
mean_age = clients.loc[(clients.age < 90) & (clients.age > 10), 'age'].mean()
mean_age

46.37953291808248

In [5]:
clients.loc[(clients.age > 90) | (clients.age < 10), 'age'] = mean_age

# Gender

In [6]:
clients = pd.get_dummies(clients, columns=['gender'])
clients

              first_issue_date   first_redeem_date   age  gender_F  gender_M
client_id
000012768d 2017-08-05 15:40:48 2018-01-04 19:30:07  45.0         0         0
000036f903 2017-04-10 13:54:23 2017-04-23 12:37:56  72.0         1         0
00010925a5 2018-07-24 16:21:29 2018-09-14 16:12:49  83.0         0         0
0001f552b0 2017-06-30 19:20:38 2018-08-28 12:59:45  33.0         1         0
00020e7b18 2017-11-27 11:41:45 2018-01-10 17:50:05  73.0         0         0
...                        ...                 ...   ...       ...       ...
fffe0abb97 2017-11-27 08:56:54 2018-02-11 09:26:08  35.0         1         0
fffe0ed719 2017-09-15 08:53:24 2017-12-12 14:50:12  69.0         0         0
fffea1204c 2018-01-31 16:59:37 2018-03-12 17:02:27  73.0         1         0
fffeca6d22 2017-12-28 11:56:13                 NaT  77.0         1         0
fffff6ce77 2017-08-03 20:25:12 2017-08-26 16:41:41  42.0         0         0

[200039 rows x 5 columns]

# Issue and redeem dates

## Clients that have not redeemed

In [7]:
clients['no_redeem'] = clients.first_redeem_date.isna().astype('int')

In [8]:
clients.isna().sum()

first_issue_date         0
first_redeem_date    17546
age                      0
gender_F                 0
gender_M                 0
no_redeem                0
dtype: int64

In [9]:
clients.loc[clients.no_redeem == 1, :]

,first_issue_date,first_redeem_date,age,gender_F,gender_M,no_redeem
client_id,,,,,,
00068fd5dc,2018-12-15 11:14:26,NaT,72.000000,1,0,1
0006fca4bf,2019-02-20 10:47:30,NaT,57.000000,0,0,1
0009e6bafa,2018-10-01 18:40:29,NaT,32.000000,0,0,1
000d599743,2018-08-29 09:08:39,NaT,46.379533,0,0,1
00140e5d34,2019-03-07 13:10:31,NaT,50.000000,1,0,1
...,...,...,...,...,...,...
ffe2d2bdbc,2018-02-16 12:06:15,NaT,82.000000,0,0,1
ffe4b6aa1a,2019-01-19 19:01:44,NaT,56.000000,0,0,1
fff2b6bf63,2018-10-18 19:01:34,NaT,46.000000,0,0,1
fff336ba7b,2017-12-09 11:58:58,NaT,16.000000,0,0,1
fffeca6d22,2017-12-28 11:56:13,NaT,77.000000,1,0,1

## Use the last redeem date to fill missing values

In [10]:
last_redeem = clients.first_redeem_date.max(); last_redeem

Timestamp('2019-11-20 01:14:10')

In [11]:
clients.fillna(last_redeem, inplace=True)

In [12]:
clients.isna().sum()

first_issue_date     0
first_redeem_date    0
age                  0
gender_F             0
gender_M             0
no_redeem            0
dtype: int64

In [13]:
clients['first_issue_date'] = (clients['first_issue_date'] - pd.Timestamp("1970-01-01")).dt.days
clients['first_redeem_date'] = (clients['first_redeem_date'] - pd.Timestamp("1970-01-01")).dt.days
clients

,first_issue_date,first_redeem_date,age,gender_F,gender_M,no_redeem
client_id,,,,,,
000012768d,17383,17535,45.0,0,0,0
000036f903,17266,17279,72.0,1,0,0
00010925a5,17736,17788,83.0,0,0,0
0001f552b0,17347,17771,33.0,1,0,0
00020e7b18,17497,17541,73.0,0,0,0
...,...,...,...,...,...,...
fffe0abb97,17497,17573,35.0,1,0,0
fffe0ed719,17424,17512,69.0,0,0,0
fffea1204c,17562,17602,73.0,1,0,0
fffeca6d22,17528,18220,77.0,1,0,1
fffff6ce77,17381,17404,42.0,0,0,0

### Scaling

In [14]:
contin_vars = ['first_issue_date', 'first_redeem_date', 'age']

In [15]:
scaler = StandardScaler()

In [16]:
scaled = scaler.fit_transform(clients[contin_vars])

In [17]:
clients[contin_vars] = pd.DataFrame(scaled, columns=contin_vars, index=clients.index)
clients

,first_issue_date,first_redeem_date,age,gender_F,gender_M,no_redeem
client_id,,,,,,
000012768d,-0.769796,-0.855610,-0.087012,0,0,0
000036f903,-1.344307,-1.861964,1.615538,1,0,0
00010925a5,0.963560,0.138951,2.309169,0,0,0
0001f552b0,-0.946568,0.072123,-0.843701,1,0,0
00020e7b18,-0.210015,-0.832023,1.678595,0,0,0
...,...,...,...,...,...,...
fffe0abb97,-0.210015,-0.706229,-0.717586,1,0,0
fffe0ed719,-0.568471,-0.946024,1.426365,0,0,0
fffea1204c,0.109158,-0.592228,1.678595,1,0,0
fffeca6d22,-0.057794,1.837174,1.930825,1,0,1
fffff6ce77,-0.779616,-1.370580,-0.276185,0,0,0

In [18]:
clients.to_csv('clients2_modified.csv')

# Purchase data aggregation

In [2]:
test_purch = pd.read_csv('test_purch.csv', parse_dates=['transaction_datetime'])

In [3]:
train_purch = pd.read_csv('train_purch.csv', parse_dates=['transaction_datetime'])
train_purch

,client_id,transaction_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,store_id,product_id,product_quantity,trn_sum_from_iss,trn_sum_from_red
0,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,9a80204f78,2.0,80.0,NaN
1,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,da89ebd374,1.0,65.0,NaN
2,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,0a95e1151d,1.0,24.0,NaN
3,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,4055b15e4a,2.0,50.0,NaN
4,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,a685f1916b,1.0,22.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15998947,fffeca6d22,a0bb11a968,2019-03-09 07:47:43,0.4,0.0,0.0,0.0,99.0,a0613e36b5,de437430e2,1.0,19.0,NaN
15998948,fffeca6d22,a0bb11a968,2019-03-09 07:47:43,0.4,0.0,0.0,0.0,99.0,a0613e36b5,ad8fee4200,1.0,45.0,NaN
15998949,fffeca6d22,3b876a5532,2019-03-15 14:46:39,0.8,0.0,0.0,0.0,165.0,a0613e36b5,ad8fee4200,2.0,94.0,NaN
15998950,fffeca6d22,3b876a5532,2019-03-15 14:46:39,0.8,0.0,0.0,0.0,165.0,a0613e36b5,230dbb0c16,1.0,50.0,NaN
15998951,fffeca6d22,3b876a5532,2019-03-15 14:46:39,0.8,0.0,0.0,0.0,165.0,a0613e36b5,8fbe7fde75,1.0,22.0,NaN

In [4]:
test_purch = test_purch\
    .groupby(['client_id','transaction_datetime'],
            as_index=False)\
    .agg({'regular_points_received': 'mean',
          'express_points_received': 'mean',
          'regular_points_spent': 'mean', 
          'express_points_spent': 'mean', 
          'purchase_sum': 'mean',
         'product_id': 'count',
         'product_quantity': 'sum',
         'trn_sum_from_iss': 'sum',
         'trn_sum_from_red': 'sum'})
test_purch.rename(columns = {'product_id': 'n_products'}, inplace=True)
test_purch

,client_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,n_products,product_quantity,trn_sum_from_iss,trn_sum_from_red
0,00010925a5,2018-11-25 10:56:18,1.5,0.0,0.0,0.0,303.0,5,7.0,303.0,0.0
1,00010925a5,2018-12-01 09:17:18,0.8,0.0,0.0,0.0,132.0,3,2.0,132.0,0.0
2,00010925a5,2018-12-03 07:52:46,0.7,0.0,0.0,0.0,149.0,3,3.0,150.0,0.0
3,00010925a5,2018-12-06 09:59:19,1.7,0.0,0.0,0.0,349.0,6,7.0,349.0,0.0
4,00010925a5,2018-12-17 12:51:26,5.8,0.0,0.0,0.0,581.0,8,8.0,582.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1209945,fffff6ce77,2019-02-28 12:56:31,1.8,0.0,0.0,0.0,446.0,9,10.0,446.0,0.0
1209946,fffff6ce77,2019-03-05 15:07:03,0.3,0.0,0.0,0.0,247.0,1,1.0,247.0,0.0
1209947,fffff6ce77,2019-03-06 16:26:35,0.1,0.0,0.0,0.0,109.0,2,2.0,110.0,0.0
1209948,fffff6ce77,2019-03-06 16:53:10,0.2,0.0,0.0,0.0,245.0,1,1.0,245.0,0.0
1209949,fffff6ce77,2019-03-15 17:47:02,6.7,0.0,0.0,0.0,676.0,9,9.0,676.0,0.0

In [5]:
train_purch = train_purch\
    .groupby(['client_id','transaction_datetime'],
            as_index=False)\
    .agg({'regular_points_received': 'mean',
          'express_points_received': 'mean',
          'regular_points_spent': 'mean', 
          'express_points_spent': 'mean', 
          'purchase_sum': 'mean',
         'product_id': 'count',
         'product_quantity': 'sum',
         'trn_sum_from_iss': 'sum',
         'trn_sum_from_red': 'sum'})
train_purch.rename(columns = {'product_id': 'n_products'}, inplace=True)
train_purch

,client_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,n_products,product_quantity,trn_sum_from_iss,trn_sum_from_red
0,000012768d,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,19,21.0,1007.0,0.0
1,000012768d,2018-12-16 08:56:01,5.7,0.0,0.0,0.0,574.0,11,14.0,575.0,0.0
2,000012768d,2019-03-08 10:12:03,8.0,0.0,0.0,0.0,803.0,16,13.0,804.0,0.0
3,000012768d,2019-03-14 15:01:47,2.0,0.0,0.0,0.0,419.0,6,6.0,419.0,0.0
4,000036f903,2018-11-28 10:48:36,1.2,0.0,0.0,0.0,241.0,5,4.0,241.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2814986,fffeca6d22,2019-02-22 09:34:13,5.0,0.0,0.0,0.0,110.0,3,3.0,111.0,0.0
2814987,fffeca6d22,2019-02-22 09:34:53,6.0,0.0,0.0,0.0,138.0,1,2.0,139.0,0.0
2814988,fffeca6d22,2019-02-28 10:25:24,0.6,0.0,0.0,0.0,128.0,2,3.0,128.0,0.0
2814989,fffeca6d22,2019-03-09 07:47:43,0.4,0.0,0.0,0.0,99.0,3,3.0,100.0,0.0
2814990,fffeca6d22,2019-03-15 14:46:39,0.8,0.0,0.0,0.0,165.0,3,4.0,166.0,0.0

In [6]:
train_purch.transaction_datetime.min()

Timestamp('2018-11-21 21:02:33')

In [7]:
train_purch.transaction_datetime.max()

Timestamp('2019-03-18 23:19:28')

In [8]:
test_purch.transaction_datetime.min()

Timestamp('2018-11-21 21:02:51')

In [9]:
test_purch.transaction_datetime.max()

Timestamp('2019-03-18 22:08:09')

In [10]:
start = min(
    train_purch.transaction_datetime.min(),
    test_purch.transaction_datetime.min()
)
start

Timestamp('2018-11-21 21:02:33')

In [11]:
finish = max(
    train_purch.transaction_datetime.max(),
    test_purch.transaction_datetime.max()
)
finish

Timestamp('2019-03-18 23:19:28')

Number of intervals:

In [12]:
n_intervals = 32

In [13]:
bins = [start + i * (finish - start) / n_intervals for i in range(0, n_intervals + 1)]
bins

[Timestamp('2018-11-21 21:02:33'),
 Timestamp('2018-11-25 12:51:49.718750'),
 Timestamp('2018-11-29 04:41:06.437500'),
 Timestamp('2018-12-02 20:30:23.156250'),
 Timestamp('2018-12-06 12:19:39.875000'),
 Timestamp('2018-12-10 04:08:56.593750'),
 Timestamp('2018-12-13 19:58:13.312500'),
 Timestamp('2018-12-17 11:47:30.031250'),
 Timestamp('2018-12-21 03:36:46.750000'),
 Timestamp('2018-12-24 19:26:03.468750'),
 Timestamp('2018-12-28 11:15:20.187500'),
 Timestamp('2019-01-01 03:04:36.906250'),
 Timestamp('2019-01-04 18:53:53.625000'),
 Timestamp('2019-01-08 10:43:10.343750'),
 Timestamp('2019-01-12 02:32:27.062500'),
 Timestamp('2019-01-15 18:21:43.781250'),
 Timestamp('2019-01-19 10:11:00.500000'),
 Timestamp('2019-01-23 02:00:17.218750'),
 Timestamp('2019-01-26 17:49:33.937500'),
 Timestamp('2019-01-30 09:38:50.656250'),
 Timestamp('2019-02-03 01:28:07.375000'),
 Timestamp('2019-02-06 17:17:24.093750'),
 Timestamp('2019-02-10 09:06:40.812500'),
 Timestamp('2019-02-14 00:55:57.531250'),
 Timestamp('2019-02-17 16:45:14.250000'),
 Timestamp('2019-02-21 08:34:30.968750'),
 Timestamp('2019-02-25 00:23:47.687500'),
 Timestamp('2019-02-28 16:13:04.406250'),
 Timestamp('2019-03-04 08:02:21.125000'),
 Timestamp('2019-03-07 23:51:37.843750'),
 Timestamp('2019-03-11 15:40:54.562500'),
 Timestamp('2019-03-15 07:30:11.281250'),
 Timestamp('2019-03-18 23:19:28')]

In [14]:
test_purch['interval'] = pd.cut(test_purch.transaction_datetime, bins, labels=False)
test_purch

,client_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,n_products,product_quantity,trn_sum_from_iss,trn_sum_from_red,interval
0,00010925a5,2018-11-25 10:56:18,1.5,0.0,0.0,0.0,303.0,5,7.0,303.0,0.0,0
1,00010925a5,2018-12-01 09:17:18,0.8,0.0,0.0,0.0,132.0,3,2.0,132.0,0.0,2
2,00010925a5,2018-12-03 07:52:46,0.7,0.0,0.0,0.0,149.0,3,3.0,150.0,0.0,3
3,00010925a5,2018-12-06 09:59:19,1.7,0.0,0.0,0.0,349.0,6,7.0,349.0,0.0,3
4,00010925a5,2018-12-17 12:51:26,5.8,0.0,0.0,0.0,581.0,8,8.0,582.0,0.0,7
...,...,...,...,...,...,...,...,...,...,...,...,...
1209945,fffff6ce77,2019-02-28 12:56:31,1.8,0.0,0.0,0.0,446.0,9,10.0,446.0,0.0,26
1209946,fffff6ce77,2019-03-05 15:07:03,0.3,0.0,0.0,0.0,247.0,1,1.0,247.0,0.0,28
1209947,fffff6ce77,2019-03-06 16:26:35,0.1,0.0,0.0,0.0,109.0,2,2.0,110.0,0.0,28
1209948,fffff6ce77,2019-03-06 16:53:10,0.2,0.0,0.0,0.0,245.0,1,1.0,245.0,0.0,28
1209949,fffff6ce77,2019-03-15 17:47:02,6.7,0.0,0.0,0.0,676.0,9,9.0,676.0,0.0,31

In [15]:
train_purch['interval'] = pd.cut(train_purch.transaction_datetime, bins, labels=False)
train_purch

,client_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,n_products,product_quantity,trn_sum_from_iss,trn_sum_from_red,interval
0,000012768d,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,19,21.0,1007.0,0.0,2.0
1,000012768d,2018-12-16 08:56:01,5.7,0.0,0.0,0.0,574.0,11,14.0,575.0,0.0,6.0
2,000012768d,2019-03-08 10:12:03,8.0,0.0,0.0,0.0,803.0,16,13.0,804.0,0.0,29.0
3,000012768d,2019-03-14 15:01:47,2.0,0.0,0.0,0.0,419.0,6,6.0,419.0,0.0,30.0
4,000036f903,2018-11-28 10:48:36,1.2,0.0,0.0,0.0,241.0,5,4.0,241.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2814986,fffeca6d22,2019-02-22 09:34:13,5.0,0.0,0.0,0.0,110.0,3,3.0,111.0,0.0,25.0
2814987,fffeca6d22,2019-02-22 09:34:53,6.0,0.0,0.0,0.0,138.0,1,2.0,139.0,0.0,25.0
2814988,fffeca6d22,2019-02-28 10:25:24,0.6,0.0,0.0,0.0,128.0,2,3.0,128.0,0.0,26.0
2814989,fffeca6d22,2019-03-09 07:47:43,0.4,0.0,0.0,0.0,99.0,3,3.0,100.0,0.0,29.0
2814990,fffeca6d22,2019-03-15 14:46:39,0.8,0.0,0.0,0.0,165.0,3,4.0,166.0,0.0,31.0

In [16]:
test_purch.isna().sum()

client_id                  0
transaction_datetime       0
regular_points_received    0
express_points_received    0
regular_points_spent       0
express_points_spent       0
purchase_sum               0
n_products                 0
product_quantity           0
trn_sum_from_iss           0
trn_sum_from_red           0
interval                   0
dtype: int64

In [17]:
train_purch.isna().sum()

client_id                  0
transaction_datetime       0
regular_points_received    0
express_points_received    0
regular_points_spent       0
express_points_spent       0
purchase_sum               0
n_products                 0
product_quantity           0
trn_sum_from_iss           0
trn_sum_from_red           0
interval                   1
dtype: int64

In [18]:
train_purch.loc[train_purch.interval.isna()]

,client_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,n_products,product_quantity,trn_sum_from_iss,trn_sum_from_red,interval
434367,27df8bc8bb,2018-11-21 21:02:33,1.5,0.0,0.0,0.0,224.53,5,8.0,226.0,0.0,NaN

In [19]:
train_purch.fillna(value=0, inplace=True)

In [20]:
train_purch.isna().sum()

client_id                  0
transaction_datetime       0
regular_points_received    0
express_points_received    0
regular_points_spent       0
express_points_spent       0
purchase_sum               0
n_products                 0
product_quantity           0
trn_sum_from_iss           0
trn_sum_from_red           0
interval                   0
dtype: int64

In [21]:
train_purch.dtypes

client_id                          object
transaction_datetime       datetime64[ns]
regular_points_received           float64
express_points_received           float64
regular_points_spent              float64
express_points_spent              float64
purchase_sum                      float64
n_products                          int64
product_quantity                  float64
trn_sum_from_iss                  float64
trn_sum_from_red                  float64
interval                          float64
dtype: object

In [22]:
train_purch.interval = train_purch.interval.astype('int')

In [23]:
train_purch.dtypes

client_id                          object
transaction_datetime       datetime64[ns]
regular_points_received           float64
express_points_received           float64
regular_points_spent              float64
express_points_spent              float64
purchase_sum                      float64
n_products                          int64
product_quantity                  float64
trn_sum_from_iss                  float64
trn_sum_from_red                  float64
interval                            int64
dtype: object

In [24]:
test_purch = test_purch\
    .groupby(['client_id','interval'])\
    .agg({'regular_points_received': 'sum',
          'express_points_received': 'sum',
          'regular_points_spent': 'sum', 
          'express_points_spent': 'sum', 
          'purchase_sum': 'sum',
         'n_products': 'sum',
         'product_quantity': 'sum',
         'trn_sum_from_iss': 'sum',
         'trn_sum_from_red': 'sum'})
test_purch

                     regular_points_received  express_points_received  \
client_id  interval
00010925a5 0                             1.5                      0.0
           2                             0.8                      0.0
           3                             2.4                      0.0
           7                             6.7                      0.0
           9                             2.1                      0.0
...                                      ...                      ...
fffff6ce77 24                           14.8                      0.0
           25                            1.7                      0.0
           26                            3.5                      0.0
           28                            0.6                      0.0
           31                            6.7                      0.0

                     regular_points_spent  express_points_spent  purchase_sum  \
client_id  interval
00010925a5 0                          0.0                   0.0         303.0
           2                          0.0                   0.0         132.0
           3                          0.0                   0.0         498.0
           7                          0.0                   0.0         764.0
           9                        -17.0                   0.0         438.0
...                                   ...                   ...           ...
fffff6ce77 24                         0.0                   0.0        1853.0
           25                         0.0                   0.0         433.0
           26                         0.0                   0.0         870.0
           28                         0.0                   0.0         601.0
           31                         0.0                   0.0         676.0

                     n_products  product_quantity  trn_sum_from_iss  \
client_id  interval
00010925a5 0                  5               7.0             303.0
           2                  3               2.0             132.0
           3                  9              10.0             499.0
           7                 11              11.0             766.0
           9                  5               4.0             420.0
...                         ...               ...               ...
fffff6ce77 24                 6              16.0            1856.0
           25                11               9.0             433.0
           26                14              15.0             871.0
           28                 4               4.0             602.0
           31                 9               9.0             676.0

                     trn_sum_from_red
client_id  interval
00010925a5 0                      0.0
           2                      0.0
           3                      0.0
           7                      0.0
           9                    438.0
...                               ...
fffff6ce77 24                     0.0
           25                     0.0
           26                     0.0
           28                     0.0
           31                     0.0

[773177 rows x 9 columns]

In [25]:
train_purch = train_purch\
    .groupby(['client_id','interval'])\
    .agg({'regular_points_received': 'sum',
          'express_points_received': 'sum',
          'regular_points_spent': 'sum', 
          'express_points_spent': 'sum', 
          'purchase_sum': 'sum',
         'n_products': 'sum',
         'product_quantity': 'sum',
         'trn_sum_from_iss': 'sum',
         'trn_sum_from_red': 'sum'})
train_purch

                     regular_points_received  express_points_received  \
client_id  interval
000012768d 2                            10.0                      0.0
           6                             5.7                      0.0
           29                            8.0                      0.0
           30                            2.0                      0.0
000036f903 1                             1.2                      0.0
...                                      ...                      ...
fffeca6d22 24                           12.7                      0.0
           25                           20.0                      0.0
           26                            0.6                      0.0
           29                            0.4                      0.0
           31                            0.8                      0.0

                     regular_points_spent  express_points_spent  purchase_sum  \
client_id  interval
000012768d 2                          0.0                   0.0       1007.00
           6                          0.0                   0.0        574.00
           29                         0.0                   0.0        803.00
           30                         0.0                   0.0        419.00
000036f903 1                          0.0                   0.0        241.00
...                                   ...                   ...           ...
fffeca6d22 24                         0.0                   0.0        417.86
           25                         0.0                   0.0        442.00
           26                         0.0                   0.0        128.00
           29                         0.0                   0.0         99.00
           31                         0.0                   0.0        165.00

                     n_products  product_quantity  trn_sum_from_iss  \
client_id  interval
000012768d 2                 19              21.0            1007.0
           6                 11              14.0             575.0
           29                16              13.0             804.0
           30                 6               6.0             419.0
000036f903 1                  5               4.0             241.0
...                         ...               ...               ...
fffeca6d22 24                10              11.0             419.0
           25                12              14.0             445.0
           26                 2               3.0             128.0
           29                 3               3.0             100.0
           31                 3               4.0             166.0

                     trn_sum_from_red
client_id  interval
000012768d 2                      0.0
           6                      0.0
           29                     0.0
           30                     0.0
000036f903 1                      0.0
...                               ...
fffeca6d22 24                     0.0
           25                     0.0
           26                     0.0
           29                     0.0
           31                     0.0

[1806187 rows x 9 columns]

In [26]:
scaler_2 = StandardScaler().fit(train_purch)

In [27]:
scaled_train = scaler_2.transform(train_purch)

In [28]:
train_purch = pd.DataFrame(scaled_train,
                           columns=train_purch.columns,
                           index=train_purch.index)
train_purch.reset_index(inplace=True)
train_purch

,client_id,interval,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,n_products,product_quantity,trn_sum_from_iss,trn_sum_from_red
0,000012768d,2,0.355585,-0.02844,0.174391,0.123568,0.469300,1.329437,0.903592,0.500987,-0.203501
1,000012768d,6,-0.029879,-0.02844,0.174391,0.123568,-0.125744,0.280793,0.268736,-0.105322,-0.203501
2,000012768d,29,0.176299,-0.02844,0.174391,0.123568,0.188956,0.936196,0.178043,0.216078,-0.203501
3,000012768d,30,-0.361557,-0.02844,0.174391,0.123568,-0.338750,-0.374610,-0.456813,-0.324267,-0.203501
4,000036f903,1,-0.433272,-0.02844,0.174391,0.123568,-0.583364,-0.505690,-0.638200,-0.574089,-0.203501
...,...,...,...,...,...,...,...,...,...,...,...
1806182,fffeca6d22,24,0.597621,-0.02844,0.174391,0.123568,-0.340317,0.149712,-0.003345,-0.324267,-0.203501
1806183,fffeca6d22,25,1.252013,-0.02844,0.174391,0.123568,-0.307143,0.411873,0.268736,-0.287776,-0.203501
1806184,fffeca6d22,26,-0.487057,-0.02844,0.174391,0.123568,-0.738653,-0.898932,-0.728894,-0.732684,-0.203501
1806185,fffeca6d22,29,-0.504986,-0.02844,0.174391,0.123568,-0.778506,-0.767852,-0.728894,-0.771982,-0.203501
1806186,fffeca6d22,31,-0.469129,-0.02844,0.174391,0.123568,-0.687806,-0.767852,-0.638200,-0.679351,-0.203501

In [29]:
scaled_test = scaler_2.transform(test_purch)

In [30]:
test_purch = pd.DataFrame(scaled_test,
                           columns=test_purch.columns,
                           index=test_purch.index)
test_purch.reset_index(inplace=True)
test_purch

,client_id,interval,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,n_products,product_quantity,trn_sum_from_iss,trn_sum_from_red
0,00010925a5,0,-0.406379,-0.02844,0.174391,0.123568,-0.498162,-0.505690,-0.366119,-0.487072,-0.203501
1,00010925a5,2,-0.469129,-0.02844,0.174391,0.123568,-0.733156,-0.767852,-0.819587,-0.727070,-0.203501
2,00010925a5,3,-0.325700,-0.02844,0.174391,0.123568,-0.230186,0.018632,-0.094038,-0.211988,-0.203501
3,00010925a5,7,0.059764,-0.02844,0.174391,0.123568,0.135361,0.280793,-0.003345,0.162745,-0.203501
4,00010925a5,9,-0.352593,-0.02844,-0.348499,0.123568,-0.312640,-0.505690,-0.638200,-0.322864,1.786016
...,...,...,...,...,...,...,...,...,...,...,...
773172,fffff6ce77,24,0.785870,-0.02844,0.174391,0.123568,1.631903,-0.374610,0.450123,1.692553,-0.203501
773173,fffff6ce77,25,-0.388450,-0.02844,0.174391,0.123568,-0.319511,0.280793,-0.184732,-0.304618,-0.203501
773174,fffff6ce77,26,-0.227093,-0.02844,0.174391,0.123568,0.281030,0.674035,0.359430,0.310112,-0.203501
773175,fffff6ce77,28,-0.487057,-0.02844,0.174391,0.123568,-0.088640,-0.636771,-0.638200,-0.067428,-0.203501
773176,fffff6ce77,31,0.059764,-0.02844,0.174391,0.123568,0.014428,0.018632,-0.184732,0.036431,-0.203501

In [31]:
test_purch = test_purch.pivot(index='client_id', columns='interval')
test_purch.fillna(0, inplace=True)
test_purch

           regular_points_received                                          \
interval                        0         1         2         3         4
client_id
00010925a5               -0.406379  0.000000 -0.469129 -0.325700  0.000000
00035a21d9                0.000000  0.000000  0.000000  0.000000  0.000000
00038f9200                0.000000  0.000000  0.000000  0.000000 -0.478093
0004315e57                0.000000 -0.056772  0.000000  0.000000  0.000000
0006fca4bf                0.000000  0.000000  0.000000  0.000000  0.000000
...                            ...       ...       ...       ...       ...
fff9aa288c                0.000000  0.000000  0.122514 -0.307772  0.000000
fff9f772f6                0.000000  0.000000  0.000000  0.000000  0.000000
fffe0ed719               -0.388450  0.000000  0.000000  0.000000  0.000000
fffea1204c                0.000000  0.000000 -0.334664  0.000000  0.000000
fffff6ce77                0.000000  0.000000  1.180299  0.000000  0.000000

                                                              ...  \
interval          5         6         7         8         9   ...
client_id                                                     ...
00010925a5  0.000000  0.000000  0.059764  0.000000 -0.352593  ...
00035a21d9  0.000000  0.000000  0.000000  0.000000  0.000000  ...
00038f9200 -0.415343  0.588656 -0.289843 -0.415343 -0.325700  ...
0004315e57  0.000000  0.000000  0.000000  0.000000  0.776906  ...
0006fca4bf  0.000000  0.000000  0.000000  0.000000  0.000000  ...
...              ...       ...       ...       ...       ...  ...
fff9aa288c  0.000000  0.000000  0.000000  0.000000  0.000000  ...
fff9f772f6  0.000000  0.705192  0.000000  0.000000  0.000000  ...
fffe0ed719  0.000000 -0.271915 -0.442236  0.000000 -0.478093  ...
fffea1204c -0.469129  0.000000  0.000000 -0.531879 -0.487057  ...
fffff6ce77  1.565763  0.000000  0.000000  0.000000  0.884478  ...

           trn_sum_from_red                                                    \
interval                 22        23        24        25        26        27
client_id
00010925a5         0.000000  0.000000 -0.203501  0.000000 -0.203501  0.000000
00035a21d9        -0.203501  0.000000  0.000000  0.000000  0.000000  3.371271
00038f9200        -0.203501 -0.203501 -0.203501 -0.203501 -0.203501 -0.203501
0004315e57        -0.203501  0.000000  0.000000  0.000000 -0.203501  3.035142
0006fca4bf         0.000000  0.000000 -0.203501 -0.203501  0.000000  0.000000
...                     ...       ...       ...       ...       ...       ...
fff9aa288c        -0.203501  0.000000  0.000000  0.000000  0.000000  0.000000
fff9f772f6         0.000000  0.000000  0.000000  0.000000  0.000000 -0.203501
fffe0ed719        -0.203501  0.000000  0.000000 -0.203501 -0.203501 -0.203501
fffea1204c        -0.203501  0.000000 -0.203501 -0.203501  0.000000  0.863934
fffff6ce77        -0.203501 -0.203501 -0.203501 -0.203501 -0.203501  0.000000


interval          28        29        30        31
client_id
00010925a5 -0.203501 -0.203501  0.000000  0.000000
00035a21d9  0.000000  0.000000  0.000000  0.000000
00038f9200 -0.203501  0.000000  0.000000 -0.203501
0004315e57 -0.203501 -0.203501  0.000000  0.000000
0006fca4bf  0.000000 -0.203501  0.000000  0.000000
...              ...       ...       ...       ...
fff9aa288c  0.668616  0.000000  0.000000  0.000000
fff9f772f6  0.000000  0.000000  0.000000 -0.203501
fffe0ed719 -0.203501 -0.203501 -0.203501 -0.203501
fffea1204c  0.000000  0.000000 -0.203501  0.000000
fffff6ce77 -0.203501  0.000000  0.000000 -0.203501

[60012 rows x 288 columns]

In [32]:
train_purch = train_purch.pivot(index='client_id', columns='interval')
train_purch.fillna(0, inplace=True)
train_purch

           regular_points_received                                          \
interval                        0         1         2         3         4
client_id
000012768d                0.000000  0.000000  0.355585  0.000000  0.000000
000036f903                0.000000 -0.433272  0.000000 -0.200200  0.000000
0001f552b0                0.274907  0.000000 -0.397414 -0.020915  0.000000
00020e7b18                2.229119  0.687263  0.472121  1.565763  0.000000
000220a0a7                0.000000  0.000000  0.000000  0.000000  0.000000
...                            ...       ...       ...       ...       ...
fffd5cd0c6                0.000000  0.000000 -0.433272  0.000000 -0.397414
fffd63dfe3                0.000000  0.000000  0.000000  0.000000  0.000000
fffd8c9d7d                0.000000  0.000000 -0.496022  0.000000  0.000000
fffe0abb97                0.000000  0.000000  0.014942  0.000000  0.000000
fffeca6d22                0.000000  0.000000  0.000000  0.239049  0.000000

                                                              ...  \
interval          5         6         7         8         9   ...
client_id                                                     ...
000012768d  0.000000 -0.029879  0.000000  0.000000  0.000000  ...
000036f903 -0.361557 -0.379486 -0.487057  0.212157  0.023907  ...
0001f552b0  0.000000  0.000000  0.000000  0.000000  0.000000  ...
00020e7b18  0.000000  0.000000  0.000000  3.448261  0.000000  ...
000220a0a7  0.803799  0.000000  0.000000 -0.379486  3.537904  ...
...              ...       ...       ...       ...       ...  ...
fffd5cd0c6  0.000000 -0.433272 -0.325700 -0.504986  0.000000  ...
fffd63dfe3  0.000000  0.000000  0.000000  0.000000  0.000000  ...
fffd8c9d7d  0.000000  0.000000  0.000000  0.000000  0.000000  ...
fffe0abb97  0.000000  0.000000  0.000000  0.000000  0.000000  ...
fffeca6d22 -0.343629  0.000000  0.000000  0.000000  0.000000  ...

           trn_sum_from_red                                                    \
interval                 22        23        24        25        26        27
client_id
000012768d         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
000036f903        -0.203501 -0.203501 -0.203501 -0.203501 -0.203501 -0.203501
0001f552b0        -0.203501  0.000000 -0.203501 -0.203501 -0.203501  0.000000
00020e7b18        -0.203501  8.113408  8.990067  0.000000 -0.203501  0.000000
000220a0a7        -0.203501  0.000000 -0.203501 -0.203501  0.000000 -0.203501
...                     ...       ...       ...       ...       ...       ...
fffd5cd0c6         0.000000  0.000000  0.000000 -0.203501  0.000000 -0.203501
fffd63dfe3         0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
fffd8c9d7d         0.000000  0.000000  0.000000 -0.203501  0.000000 -0.203501
fffe0abb97         0.000000  0.000000  0.000000 -0.203501  0.000000  0.000000
fffeca6d22         0.000000  0.000000 -0.203501 -0.203501 -0.203501  0.000000


interval          28        29        30        31
client_id
000012768d  0.000000 -0.203501 -0.203501  0.000000
000036f903 -0.203501 -0.203501  0.000000 -0.203501
0001f552b0  0.000000 -0.203501 -0.203501 -0.203501
00020e7b18  0.000000  0.000000 -0.203501  0.205304
000220a0a7 -0.203501  0.000000 -0.203501  0.000000
...              ...       ...       ...       ...
fffd5cd0c6  0.000000  0.000000 -0.203501 -0.203501
fffd63dfe3  0.000000  0.000000 -0.203501  0.000000
fffd8c9d7d  0.000000 -0.203501  0.000000  0.000000
fffe0abb97  0.000000 -0.008183  0.005444  0.000000
fffeca6d22  0.000000 -0.203501  0.000000 -0.203501

[140027 rows x 288 columns]

In [33]:
columns = train_purch.columns.to_flat_index().to_list()
columns = [col[0] + '_' + str(col[1]) for col in columns]

In [34]:
train_purch.columns = columns
train_purch

,regular_points_received_0,regular_points_received_1,regular_points_received_2,regular_points_received_3,regular_points_received_4,regular_points_received_5,regular_points_received_6,regular_points_received_7,regular_points_received_8,regular_points_received_9,...,trn_sum_from_red_22,trn_sum_from_red_23,trn_sum_from_red_24,trn_sum_from_red_25,trn_sum_from_red_26,trn_sum_from_red_27,trn_sum_from_red_28,trn_sum_from_red_29,trn_sum_from_red_30,trn_sum_from_red_31
client_id,,,,,,,,,,,,,,,,,,,,,
000012768d,0.000000,0.000000,0.355585,0.000000,0.000000,0.000000,-0.029879,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.203501,-0.203501,0.000000
000036f903,0.000000,-0.433272,0.000000,-0.200200,0.000000,-0.361557,-0.379486,-0.487057,0.212157,0.023907,...,-0.203501,-0.203501,-0.203501,-0.203501,-0.203501,-0.203501,-0.203501,-0.203501,0.000000,-0.203501
0001f552b0,0.274907,0.000000,-0.397414,-0.020915,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.203501,0.000000,-0.203501,-0.203501,-0.203501,0.000000,0.000000,-0.203501,-0.203501,-0.203501
00020e7b18,2.229119,0.687263,0.472121,1.565763,0.000000,0.000000,0.000000,0.000000,3.448261,0.000000,...,-0.203501,8.113408,8.990067,0.000000,-0.203501,0.000000,0.000000,0.000000,-0.203501,0.205304
000220a0a7,0.000000,0.000000,0.000000,0.000000,0.000000,0.803799,0.000000,0.000000,-0.379486,3.537904,...,-0.203501,0.000000,-0.203501,-0.203501,0.000000,-0.203501,-0.203501,0.000000,-0.203501,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fffd5cd0c6,0.000000,0.000000,-0.433272,0.000000,-0.397414,0.000000,-0.433272,-0.325700,-0.504986,0.000000,...,0.000000,0.000000,0.000000,-0.203501,0.000000,-0.203501,0.000000,0.000000,-0.203501,-0.203501
fffd63dfe3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.203501,0.000000
fffd8c9d7d,0.000000,0.000000,-0.496022,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,-0.203501,0.000000,-0.203501,0.000000,-0.203501,0.000000,0.000000
fffe0abb97,0.000000,0.000000,0.014942,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,-0.203501,0.000000,0.000000,0.000000,-0.008183,0.005444,0.000000
fffeca6d22,0.000000,0.000000,0.000000,0.239049,0.000000,-0.343629,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.203501,-0.203501,-0.203501,0.000000,0.000000,-0.203501,0.000000,-0.203501

In [35]:
test_purch.columns = columns
test_purch

,regular_points_received_0,regular_points_received_1,regular_points_received_2,regular_points_received_3,regular_points_received_4,regular_points_received_5,regular_points_received_6,regular_points_received_7,regular_points_received_8,regular_points_received_9,...,trn_sum_from_red_22,trn_sum_from_red_23,trn_sum_from_red_24,trn_sum_from_red_25,trn_sum_from_red_26,trn_sum_from_red_27,trn_sum_from_red_28,trn_sum_from_red_29,trn_sum_from_red_30,trn_sum_from_red_31
client_id,,,,,,,,,,,,,,,,,,,,,
00010925a5,-0.406379,0.000000,-0.469129,-0.325700,0.000000,0.000000,0.000000,0.059764,0.000000,-0.352593,...,0.000000,0.000000,-0.203501,0.000000,-0.203501,0.000000,-0.203501,-0.203501,0.000000,0.000000
00035a21d9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.203501,0.000000,0.000000,0.000000,0.000000,3.371271,0.000000,0.000000,0.000000,0.000000
00038f9200,0.000000,0.000000,0.000000,0.000000,-0.478093,-0.415343,0.588656,-0.289843,-0.415343,-0.325700,...,-0.203501,-0.203501,-0.203501,-0.203501,-0.203501,-0.203501,-0.203501,0.000000,0.000000,-0.203501
0004315e57,0.000000,-0.056772,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.776906,...,-0.203501,0.000000,0.000000,0.000000,-0.203501,3.035142,-0.203501,-0.203501,0.000000,0.000000
0006fca4bf,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-0.203501,-0.203501,0.000000,0.000000,0.000000,-0.203501,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff9aa288c,0.000000,0.000000,0.122514,-0.307772,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.203501,0.000000,0.000000,0.000000,0.000000,0.000000,0.668616,0.000000,0.000000,0.000000
fff9f772f6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.705192,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-0.203501,0.000000,0.000000,0.000000,-0.203501
fffe0ed719,-0.388450,0.000000,0.000000,0.000000,0.000000,0.000000,-0.271915,-0.442236,0.000000,-0.478093,...,-0.203501,0.000000,0.000000,-0.203501,-0.203501,-0.203501,-0.203501,-0.203501,-0.203501,-0.203501
fffea1204c,0.000000,0.000000,-0.334664,0.000000,0.000000,-0.469129,0.000000,0.000000,-0.531879,-0.487057,...,-0.203501,0.000000,-0.203501,-0.203501,0.000000,0.863934,0.000000,0.000000,-0.203501,0.000000
fffff6ce77,0.000000,0.000000,1.180299,0.000000,0.000000,1.565763,0.000000,0.000000,0.000000,0.884478,...,-0.203501,-0.203501,-0.203501,-0.203501,-0.203501,0.000000,-0.203501,0.000000,0.000000,-0.203501

In [36]:
test_purch.to_csv('test_purch_32_periods.csv')

In [37]:
train_purch.to_csv('train_purch_32_periods.csv')